<html>
  <head>
    <title>Cool Restaurants</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>

  <body>
    <section id='header'>
      <h1>Cool Restaurants We Really Like</h1>
      <nav>
        <ul>
          <li><a href="/who">Who We Are</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <img src=" /images/MainImage.jpg" alt="Buford Hwy Signs">
    </section>
          <section>
      <%= yield %>
    </section>
  </body>
</html>

