
<H3> So, whose opinons are these anyway?!!!! </H3>
<ul>
  <% @reviewers.each do |reviewer| %>
  <li>
    	<span><strong><%= reviewer.name %></strong>,</span>
      <span><%= reviewer.relation %>.</span>
       
  </li>
  <% end %>
</ul>
