<section class="container-fluid reviewer">
 <div class="row">
- <h3 class="text-center"><%= @reviewer.name %></h3>
   <div class="col-sm-12 col-md-8 col-md-offset-2">
   <dl class="dl-horizontal">
		<dt> Category:</dt>
		<dd><%= @reviewer.relation %></dd>
		<dd><%= @reviewer.id %></dd>
	</div>

	<button onclick="window.history.back()">Back</button>

	<!-- <div class="col-sm-12 col-md-4 item-image">
      <img class="middle" width=200px src="/images/<%= @restaurant.image %>"/>
    </div>
 -->
    
