<H3> Whose opinons are these anyway?!!!! </H3>


<p>A collection of folks from the Atlanta area who enjoy trying new food and restaurants.</p>
<div class="row">
  <div class="col-xs-6 col-md-8""col-xs-6 col-md-4"></div> 
</div>

<ul>
	<li> Alix </li>
	<li> Allyson </li>
	<li> Hannah </li>
	<li> Bill </li>
	<li> Garrity </li>

</ul>