body {
    background-color:#B0C4DE;
    background: url(/images/restaurant.png);
    background-position:top center;
    margin:0;
    padding:0;
}
p {
	padding-left: 50px;
	padding-right: 30px;
	font-size: 14pt;
}

h1 {
text-align: center;
text; ontop;
}

h4 {
margin-left: 20px;
margin-top: 15px;
text-align: center;
}

h3, h2 {
text-align: center;
}

li {
	list-style-type: none;
	padding-left: 35px;
	font-size: 14pt;
}

ul {
	padding-left: 15px;
	margin-bottom: 10px;
}


img {
	align: center;
	margin-left: 200px;
}

.jumbotron {
	 background: url(/images/food.jpg);
	 opacity: 0.15;
	 font-weight: bold;
}